    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>After graduating with a Bachelor of Science degree in Computer Science from Utah State University in 2012, I have been working professionally as a software developer.</p>
                <p>I moved to the Seattle area in 2013 and for the past 6 years I've been focusing on build systems and developer tools. I have found that I really enjoy solving problems that other developers are facing on a day-to-day basis and I have seen my work make big impacts for fast-moving industries.</p>
                <br/>
              </div>
        </div>
    </section>
